<div class="bg-white">
  <header class="absolute inset-x-0 top-0 z-50">
    <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <svg width="115" height="77" viewBox="0 0 115 77" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M110.622 26.6595C113.011 26.6595 114.901 28.6631 114.778 31.0517C114.568 35.1464 113.764 41.3672 110.972 46.4507C108.426 51.3153 104.909 54.9901 100.403 57.4837C95.8972 59.9773 90.7175 61.2197 84.8467 61.2197C80.4807 61.2197 76.4122 60.4235 72.6412 58.8311C68.8702 57.2387 65.5805 55.0426 62.7807 52.2515C59.9808 49.4517 57.7935 46.2057 56.2011 42.5222C54.6087 38.8299 53.8125 34.8314 53.8125 30.5267C53.8125 26.222 54.6174 22.1448 56.2448 18.4875C57.8635 14.8303 60.1296 11.6105 63.0431 8.84566C65.9479 6.07209 69.3252 3.91099 73.1487 2.34484C76.981 0.787448 81.1019 0 85.5204 0C90.6038 0 95.2497 0.936188 99.4407 2.80856C101.234 3.61351 102.897 4.54095 104.428 5.59088C107.613 7.78698 107.963 12.3629 105.233 15.1015C103.037 17.2976 99.537 17.6388 97.0609 15.7664C96.1422 15.0752 95.1623 14.4715 94.1211 13.9728C91.5225 12.7129 88.6264 12.0829 85.4416 12.0829C81.9769 12.0829 78.8708 12.8529 76.1323 14.3928C73.3937 15.9327 71.2501 18.0763 69.7189 20.8499C68.179 23.6147 67.4178 26.8432 67.4178 30.5442C67.4178 34.2452 68.1703 37.3863 69.6839 40.1861C71.1888 42.9859 73.2624 45.1732 75.8873 46.7656C78.5208 48.358 81.5394 49.1542 84.9429 49.1542C88.3464 49.1542 91.2775 48.498 93.7098 47.1856C96.1422 45.8732 98.0146 43.9571 99.327 41.4372C99.7294 40.6585 100.079 39.8273 100.359 38.9437C100.491 38.5237 100.193 38.095 99.7557 38.0862L89.2214 37.92C86.1503 37.8675 83.6918 35.3739 83.6918 32.3028C83.6918 29.2318 86.2116 26.677 89.3089 26.677H110.631L110.622 26.6595Z" fill="#00AC69"/>
            <path d="M31.1597 49.1724C34.677 49.1724 37.7393 48.3937 40.3641 46.8275C42.9889 45.2701 45.0363 43.0915 46.515 40.3004C47.9936 37.5094 48.7373 34.2721 48.7373 30.5973C48.7373 27.8675 48.3173 25.3652 47.4774 23.1078C46.6374 20.8505 45.4388 18.8994 43.8814 17.2545C42.3152 15.6096 40.4516 14.3497 38.273 13.4922C36.0944 12.626 33.7233 12.1973 31.1597 12.1973C27.6425 12.1973 24.5627 12.9673 21.9116 14.4984C19.2605 16.0296 17.2132 18.1819 15.7608 20.938C14.3083 23.7028 13.5821 26.9226 13.5821 30.6061C13.5821 33.3972 14.0021 35.9345 14.8333 38.2181C15.6733 40.5017 16.8719 42.4703 18.4293 44.1152C19.9867 45.7601 21.8416 47.02 23.9939 47.8774C26.1376 48.7436 28.5262 49.1724 31.151 49.1724M31.326 61.2203C26.8638 61.2203 22.734 60.4416 18.9455 58.8755C15.1483 57.3181 11.8323 55.1395 8.9887 52.3484C6.14514 49.5573 3.94029 46.3113 2.37414 42.6015C0.807995 38.8918 0.0292969 34.8933 0.0292969 30.5973C0.0292969 26.3014 0.807995 22.2242 2.37414 18.5494C3.93154 14.8659 6.11014 11.6461 8.90121 8.88129C11.6923 6.11648 14.9821 3.97287 18.7793 2.44172C22.5765 0.910574 26.6975 0.140625 31.1597 0.140625C35.6219 0.140625 39.6554 0.910574 43.4177 2.44172C47.1799 3.98162 50.4872 6.12523 53.3307 8.88129C56.1743 11.6461 58.3617 14.8746 59.9016 18.5844C61.4327 22.2941 62.2027 26.3276 62.2027 30.6761C62.2027 35.0246 61.424 38.9793 59.8578 42.6803C58.2917 46.39 56.1218 49.6273 53.3307 52.3834C50.5397 55.1482 47.2761 57.3093 43.5401 58.8667C39.8041 60.4241 35.7269 61.2116 31.326 61.2116" fill="#124734"/>
            <path d="M15.7355 69.067C15.7355 73.3979 12.2183 76.9152 7.88729 76.9152C3.55633 76.9152 0.0390625 73.3979 0.0390625 69.067C0.0390625 64.736 3.55633 61.2188 7.88729 61.2188C12.2183 61.2188 15.7355 64.736 15.7355 69.067Z" fill="#00AC69"/>
          </svg>
        </a>
      </div>
      <div class="hidden lg:flex lg:gap-x-12">
        <a href="#" class="text-sm/6 font-semibold text-gray-900">Product</a>
        <a href="#" class="text-sm/6 font-semibold text-gray-900">Features</a>
        <a href="#" class="text-sm/6 font-semibold text-gray-900">Marketplace</a>
        <a href="#" class="text-sm/6 font-semibold text-gray-900">Company</a>
      </div>
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a href="#" class="text-sm/6 font-semibold text-gray-900">Log in <span aria-hidden="true">&rarr;</span></a>
      </div>
    </nav>
  </header>
  <main>
    <div class="relative isolate">
      <svg class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M.5 200V.5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
      </svg>
      <div class="absolute left-1/2 right-0 top-0 -z-10 -ml-24 transform-gpu overflow-hidden blur-3xl lg:ml-24 xl:ml-48" aria-hidden="true">
        <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30" style="clip-path: polygon(63.1% 29.5%, 100% 17.1%, 76.6% 3%, 48.4% 0%, 44.6% 4.7%, 54.5% 25.3%, 59.8% 49%, 55.2% 57.8%, 44.4% 57.2%, 27.8% 47.9%, 35.1% 81.5%, 0% 97.7%, 39.2% 100%, 35.2% 81.4%, 97.2% 52.8%, 63.1% 29.5%)"></div>
      </div>
      <div class="overflow-hidden">
        <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
          <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
            <div class="relative w-full lg:max-w-xl lg:shrink-0 xl:max-w-2xl">
              <h1 class="text-pretty text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl">Photogether</h1>
              <p class="mt-8 text-pretty text-lg font-medium text-gray-500 sm:max-w-md sm:text-xl/8 lg:max-w-none">구매하기 위해 캡처한 사진, 포토게더를 통해 정리해보세요!</p>
              <div class="mt-10 flex items-center gap-x-6">
                <a href="#" class="rounded-3xl bg-[#00673F] px-6 py-4 text-sm font-semibold text-white shadow-sm">시작하기</a>
                <a href="#" class="text-sm/6 font-semibold text-gray-900">모바일에서 사용할래요.<span aria-hidden="true">→</span></a>
              </div>
            </div>
            <div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
              <div class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
                <div class="relative">
                  <img src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
              <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
                <div class="relative">
                  <img src="https://images.unsplash.com/photo-1485217988980-11786ced9454?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
                <div class="relative">
                  <img src="https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=focalpoint&fp-x=.4&w=396&h=528&q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
              <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                <div class="relative">
                  <img src="https://images.unsplash.com/photo-1670272504528-790c24957dda?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&crop=left&w=400&h=528&q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
                <div class="relative">
                  <img src="https://images.unsplash.com/photo-1670272505284-8faba1c31f7d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&h=528&q=80" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
