<div class="relative h-screen py-24">
  <!-- 메인 컨텐츠 -->
  <div class="relative container mx-auto h-full flex items-center justify-center">
    <div class="flex flex-col gap-8 items-center w-full">
      <div class="text-center lg:text-center lg:w-1/2">
        <h1 class="text-5xl font-bold text-accent">포토게더</h1>
        <p class="py-6 text-xl">구매하기 위해 캡처한 사진, 포토게더를 통해 정리해보세요!</p>
        <div class="flex flex-wrap justify-center lg:justify-center gap-4 my-6">
          <a href="#" class="btn btn-accent">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
            </svg>
            플레이스토어
          </a>
          <a href="#" class="btn btn-accent">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 21v-7.5a.75.75 0 0 1 .75-.75h3a.75.75 0 0 1 .75.75V21m-4.5 0H2.36m11.14 0H18m0 0h3.64m-1.39 0V9.349M3.75 21V9.349m0 0a3.001 3.001 0 0 0 3.75-.615A2.993 2.993 0 0 0 9.75 9.75c.896 0 1.7-.393 2.25-1.016a2.993 2.993 0 0 0 2.25 1.016c.896 0 1.7-.393 2.25-1.015a3.001 3.001 0 0 0 3.75.614m-16.5 0a3.004 3.004 0 0 1-.621-4.72l1.189-1.19A1.5 1.5 0 0 1 5.378 3h13.243a1.5 1.5 0 0 1 1.06.44l1.19 1.189a3 3 0 0 1-.621 4.72M6.75 18h3.75a.75.75 0 0 0 .75-.75V13.5a.75.75 0 0 0-.75-.75H6.75a.75.75 0 0 0-.75.75v3.75c0 .414.336.75.75.75Z" />
            </svg>
            앱스토어
          </a>
        </div>
      </div>
    </div>

    <!-- 흩어지는 이미지 배경 -->
    <div class="absolute inset-0 -z-10">
      <div class="absolute -top-10 -right-10 w-48 h-48 md:w-64 md:h-64 opacity-20 rotate-12">
        <img src="/images/landing-item06.jpg" class="rounded-xl w-full h-full object-cover" alt="" />
      </div>
      <div class="absolute top-1/3 -left-12 w-36 h-36 md:w-52 md:h-52 opacity-15 -rotate-12">
        <img src="/images/landing-item07.jpg" class="rounded-xl w-full h-full object-cover" alt="" />
      </div>
      <div class="absolute bottom-1/4 right-10 w-40 h-40 md:w-56 md:h-56 opacity-20 rotate-6">
        <img src="/images/landing-item08.jpg" class="rounded-xl w-full h-full object-cover" alt="" />
      </div>
      <div class="absolute -bottom-10 left-1/3 w-32 h-32 md:w-48 md:h-48 opacity-15 rotate-[-8deg]">
        <img src="/images/landing-item09.jpg" class="rounded-xl w-full h-full object-cover" alt="" />
      </div>
    </div>
  </div>


  <!-- 푸터 -->
  <footer class="footer footer-center p-6 text-base-content absolute bottom-0 w-full">
    <div class="flex flex-col md:flex-row gap-4 items-center justify-center">
      <a href="https://github.com/photogether3" class="link link-hover flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="currentColor" class="mr-2">
          <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
        </svg>
        GitHub
      </a>
      <p class="md:ml-6">© 2025 AZA, Inc. All rights reserved.</p>
    </div>
  </footer>
</div>