<div class="flex items-center justify-center h-screen">
  <div class="p-8 bg-white border rounded-lg">
    <p class="text-xl">이메일로 전송된 OTP 번호를 입력해주세요.</p>
    
    <br/>
    <%= form_with(url: user_verify_otp_path(@user), method: :post) do |form| %>
      <div>
        <%= form.label :otp, "OTP 번호" %>
        <%= form.text_field :otp %>
      </div>

      <div>
        <%= form.submit "확인" %>
      </div>
    <% end %>
  </div>
</div>