<div id="modal" data-modal-target="modal" class="fixed inset-0 bg-black/50 flex justify-center items-center z-50 <%= anims ||= "" %>">
  <div class="bg-white w-full max-w-2xl mx-4 sm:h-auto rounded-lg p-4">
    <div class="flex justify-end">
      <button data-action="click->modal#close">닫기</button>
    </div>
    <%= yield %>
  </div>
</div>