<form
  id="user_form"
  action="/admin/users"
  method="post"
  class="flex flex-col gap-4">

  <% if @user.errors.any? %>
    <div class="bg-red-50 p-2 text-xs">
      <% @user.errors.full_messages.each do |msg| %>
        <div class="">- <%= msg %></div>
      <% end %>
    </div>
  <% end %>

  <input
      name="email_address"
      type="email"
      placeholder="이메일"
      value="<%= @user.email_address %>"
      class="border p-4 rounded-xl"/>

  <input
    name="password"
    type="password"
    placeholder="비밀번호"
    value="<%= @user.email_address %>"
    class="border p-4 rounded-xl"/>

  <button class="p-4 bg-blue-500 rounded-xl text-white">생성</button>
</form>