<table id="user_list" class="text-center border [&_tr]:border w-full">
  <thead class="bg-gray-200">
  <tr>
    <th>번호</th>
    <th>이메일</th>
    <th>닉네임</th>
  </tr>
  </thead>
  <tbody >
  <% users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email_address %></td>
      <td><%= user.nickname %></td>
    </tr>
  <% end %>
  </tbody>
</table>