<turbo-frame id="user_total">
  <div class="flex items-center h-12 gap-2 px-4 bg-white border-2 border-primary rounded-xl">
    <span class="text-sm text-gray-500">총 회원 수</span>
    <span class="text-lg font-bold text-primary"><%= @users.total_count rescue User.count %></span>
  </div>
</turbo-frame>