<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 0.3s;
  }
</style>

<div
  class="fixed inset-0 z-50 flex items-center justify-center fade-in bg-black/50">
  <div class="p-4 bg-white rounded-lg">
    <%= yield %>
  </div>
</div>