<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .dialog.fade-in {
    animation: fadeIn 0.3s;
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .dialog.fade-out {
    animation: fadeOut 0.3s;
  }
</style>

<div
  id="dialog"
  data-action="keydown.esc->custom-dialog#close click.self->custom-dialog#close"
  class="fixed inset-0 z-50 flex items-center justify-center dialog fade-in bg-black/50">
  <div class="w-full max-w-md p-4 bg-white rounded-lg">
    <div class="flex justify-end">
      <button data-action="custom-dialog#close">닫기</button>
    </div>
    <%= yield %>
  </div>
</div>